server:
    port: 8005

management:
  endpoints:
    web:
      exposure:
        include=*:

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/validation_send
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false