# Q-OPSEC Automated Requirements
PyYAML
black
catboost
dataclasses
dateutil
faker
fastapi
flake8
gc
geopy
imblearn
joblib
lightgbm
loguru
matplotlib
nltk
numpy
pandas
pydantic
pytest
python-dateutil
pyyaml
requests
scikit-learn
scipy
seaborn
torch
traceback
warnings
xgboost
prometheus-fastapi-instrumentator
